.content-right{
	width:981px;
	float:right;
	background-color: #FFFFFF;
}
.content-right-user{
	padding:18px 10px 18px 15px;
	border-bottom: 1px solid #F2F2F2;
}
.content-right-user-lt{
	float: left;
	display:none;
}
.content-right-user-lt-pic{
	width:100px;
	height: 100px;
	float: left;
}
.content-right-user-lt-pic>img{
	width: 100%;
	height: 100%;
}
.content-right-user-lt-name{
	float: left;
	margin-left: 20px;
	width: 464px;
}
.content-right-user-lt-name>li{
	width: 220px;
	padding-right: 12px;
	line-height: 25px;
}
.content-right-user-lt-name>li span:first-child{
	color: #999;
	display: inline-block;
	min-width: 65px;
}
.content-right-user-lt-name>li span:last-child{
	color: #363636;
}
.content-right-user-rg{
	float: right;
	width: 100%;
	overflow: hidden;
	font-weight:700;
}
.content-right-user-rg-tit{
	font-size: 15px;
	color: #333;
	line-height: 40px;
	margin-bottom: 5px;
	padding-left:30px;
	background:url(../images/u13.png) 5px 10px no-repeat;
	position: relative;
	left:-5px;
}
.content-right-user-rg-nums>li{
	text-align: center;
	width:33%;
	position: relative;
	font-size:17px;
}
.content-right-user-rg-nums>li span{
	margin-left:12px;
	padding-top:5px;
	display:inline-block;
}
.content-right-user-rg-nums>li:nth-child(1),li:nth-child(3){

}
.content-right-user-rg-nums>li i{
	width: 20px;
	height: 18px;
	position: absolute;
	top: 6px;
}
.yellow{
	color: #FF6600;
	font-weight: 700;
	text-indent: 8px;
}
.green{
	color: #36B470;
	font-weight: 700;
	text-indent: -5px;
}
.yellow{
	color: #f13a3a;
	font-weight: 700;
	text-indent: -5px;
}
.top-icon{
	background: url(../images/u381_start.png) no-repeat -2px 5px;
}
.down-icon{
	background: url(../images/u382_end.png) no-repeat -2px -2px;
}
.content-news-td-inner{
	padding:15px 0 15px 20px;
    color:#333;
}
.content-news-td-inner p{
	color:#333;
}
.content-news tr td{
	vertical-align:top;
}
.td-inner-tit{
	margin-bottom: 43px;
	position: relative;
	width:453px;
}
.td-inner-tit>a{
	float: right;
	/*margin-top:3px;*/
}
.td-inner-tit-line{
	width:20px;
	height: 20px;
	position: absolute;
	top:2px;
	left:-7px;
}
.frist{
	background:url(../images/u6.png);
}
.second{
	background:url(../images/u7.png);
}
.three{
	background:url(../images/u8.png);
}
.four{
	background:url(../images/u9.png);
}
.five{
	background:url(../images/u10.png);
}
.six{
	background:url(../images/u11.png);
}
.td-inner-tit-news{
	float: left;
	margin-left: 17px;
}
.td-inner-tit-tel-line{
	margin-left:-20px;
	border-top:1px solid #e6e6e6;
	width:490px;
	margin-top:10px;
	position:relative;
	z-index:10;
}
.td-inner-tit-news>p{
	margin-bottom:10px;
	font-weight: 700;
	font-size: 15px;
	color: #333;
}
.td-inner-tit-news>span{
	color: #666;
	display: block;
	line-height: 12px;	
}
.td-inner-cue{
	border:1px solid #ffebcc;
	background-color: #fff5df;
	height: 38px;
	line-height: 38px;
	position: relative;
	left:-5px;
	width:450px;
}
.td-inner-cue2{
	border:1px solid #ffebcc;
	background-color: #fff5df;
	height: 38px;
	line-height: 38px;
	position: relative;
	width:449px;
}

.td-inner-cue>p:first-child{
	float: left;
	margin-left: 10px;
}
.td-inner-cue>p:last-child{
	float: right;
	margin-right: 25px;
}
.td-inner-cue>p span{
	color: #333333;
}
.td-inner-cue>p strong{
	margin-left:5px;
}
.td-inner-cue2>p:first-child{
	float: left;
	margin-left: 10px;
}
.td-inner-cue2>p:last-child{
	float: right;
	margin-right: 25px;
}
.td-inner-cue2>p span{
	color: #333333;
}
.td-inner-cue2>p strong{
	margin-left:5px;
}
.td-inner-tag{
	margin-top:30px;
	position:relative;
	left:-5px;
}
.td-inner-tag>li{
	margin-left:41px;
	margin-bottom:30px;
}
.td-inner-tag>li:first-child{
	margin-left:0px;
}
.td-inner-tag>li.mg-lt-no{
	margin-left: 0px;
}
.td-inner-tag-sc>li:first-child{
	margin-left: 5px;
}
.td-inner-tag-sc>li:nth-child(5){
	margin-left: 5px;
}
.td-inner-tag>li a{
	display: block;
	position: relative;
	text-align: center;
	height: 30px;
	line-height: 30px;
	width:80px;
	border:1px solid #248ebd;
	color:#248ebd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.td-inner-tag>li a.on{
	border: 1px solid #36b470;
	color: #36b470;

}
.td-inner-tag-left>li a.on{
   border:1px solid #248ebd;
	color:#248ebd;
}
.td-inner-tag>li a:hover{
	background-color: #36b470;
	border: 1px solid #36b470;
	color: #fff;
}
.td-inner-tag-left>li a:hover{
	background-color: #248ebd;
	border: 1px solid #248ebd;
	color: #fff;
}
.td-inner-tag-left .td-inner-tag-nums{
	background-color: #248ebd;
}
.td-inner-tag-nums{
	display: block;
	width: 18px;
	height: 18px;
	background-color: #36b470;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	position: absolute;
	right: -9px;
	top:-9px;
	-webkit-border-radius: 9px 9px;
	-moz-border-radius: 9px 9px;
	border-radius: 9px 9px;
}
.td-inner-stat{
	margin-bottom: 34px;
}
.td-inner-bulletin{
	margin-top:30px;
}
.td-inner-stat>li{
	border-bottom: 1px dotted #999999;
	height: 40px;
	line-height: 40px;
	width:441px;
}
.td-inner-stat>li p{
	float: left;
	width: 110px;
	text-align: center;
	overflow: hidden;
	margin-right: 60px;
}
.td-inner-stat>li p:first-child{
	text-align: left;
	margin-right: 30px;
}
.td-inner-stat>li p:last-child{
	overflow: hidden;
	margin-right: 0px;
}
.td-inner-stat>li:first-child p:first-child{
	text-indent: 10px;
}
.td-inner-stat>li:last-child p:first-child{
	text-indent: 10px;
}
.bulletin{
	margin-bottom: 0px;
}
.td-inner-bulletin>li{
	position: relative;
	text-indent:13px;
	line-height: 25px;
	height: 25px;
	width: 460px;
	left:-4px;
}
.td-inner-bulletin>li i{
	width: 3px;
	height: 3px;
	position: absolute;
	background: url(../images/u280.png) no-repeat;
	left: 0px;
	top:12px;
}
.td-inner-bulletin>li span{
	float: right;
	line-height: 25px;
	display: block;
	color: #666666;
}
.td-inner-bulletin>li a{
	color: #363636;
	float: left;
	width: 320px;
	height: 25px;
	overflow: hidden;
}
.td-inner-bulletin>li:hover a,.td-inner-bulletin>li:hover span{
	color: #2299ee;
    text-decoration: underline;
}
.td-inner-bulletin>li a:hover{
	text-decoration: solid;
}
.relation .td-inner-tit-line{
	background-color:#f13a3a;
}
.relation{
margin:10px 0 0 0;
}
.td-inner-relation>p{
	position: relative;
	float: left;
	width: 200px;
	overflow: hidden;
	color: #363636;
	text-indent: 13px;
}
.td-inner-relation>p:last-child{
	width: 245px;
}
.td-inner-relation>p span{
	color: #363636;
}
.td-inner-relation>p i{
	position: absolute;
	width: 3px;
	height: 3px;
	background: url(../images/u280.png) no-repeat;
	top:10px;
	left: 0px;
}
.td-inner-hotgoods>li{
	border-bottom: 1px dotted  #999999;
	height: 40px;
	line-height: 40px;
	width:441px;
	color:#333333;
}
.td-inner-hotgoods>li:first-child{
	height:30px;
	line-height:25px;

}
.td-inner-hotgoods>li:nth-child(-n+3) span{
	color:#f13a3a;
}
.td-inner-hotgoods>li p{
	color: #666666;
}
.td-inner-hotgoods>li:first-child p:first-child{
	width: 70px;
	float: left;
	text-indent: 10px;
}
.td-inner-hotgoods>li:first-child p:nth-child(2){
	width: 257px;
	text-align:left;
	float: left;
	text-indent: 6px;
}
.td-inner-hotgoods>li p{
	width: 295px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}
.td-inner-hotgoods>li:first-child p:last-child{
	width: 80px;
	float: left;
	text-align: center;
}
.td-inner-hotgoods>li a{
	display: block;
	width: 255px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}
.td-inner-hotgoods>li a:hover{
	color: #F13A3A;
}
.td-inner-hotgoods>li a img{
	width: 30px;
	height: 30px;
	float: left;
	margin-top:5px;
	margin-right: 10px;
}
.td-inner-hotgoods>li span:first-child{
	width: 70px;
	float: left;
	text-align: left;
	text-indent: 15px;
	font-weight: bold;
	color: #f13a3a;
}
.td-inner-hotgoods>li a.green{
	font-weight: normal;
	width:255px;
	color: #666;
}
.td-inner-hotgoods>li span .blue{
	color: #2299ee;
	font-weight: 700;
}
.td-inner-hotgoods>li a .blue{
	font-weight: normal;
	width:255px;
	color: #333;
}
.td-inner-hotgoods>li a:hover{
	color: #29e;
	text-decoration: underline;
}
.td-inner-hotgoods>li a.green:hover{
	color: #36B470;
}
.td-inner-hotgoods>li span:last-child{
	width: 80px;
	float: left;
	text-align: center;
	color: #666666;
}
.td-inner-active{
	padding-left: 10px;
}
.td-inner-active li{
	width: 440px;
	margin-bottom:20px ;
}
.td-inner-active li:last-child{
	margin-bottom: 0px;
}
.td-inner-active-news{
	width:257px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}
.td-inner-active-news>p span{
	color: #666666;
}
.td-inner-active-news>p a{
	color: #333333;
}
.td-inner-active-news>p a:hover{
	color:#2299ee;
	text-decoration: underline;
}
.td-inner-active-news p{
	color: #999;
}
.active-btn{
	float: right;
	display: block;
	width:70px;
	height: 30px;
	background:#fcfcfc;
	border:1px solid #dcdcdc;
	color:#666;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}
.active-btn:hover{
	background:#29e;
	color:#fff;
	border:1px solid #29e;
}
/*consult*/
.consult{
	position: fixed;
	bottom: 0px;
	right:130px;
}
.consult>div{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	border-radius: 2px;
	background-color: #333333;
	height: 32px;
	line-height: 32px;
	float: left;
	padding:0px 12px;
	margin-left: 5px;

}
.consult-messageList{
	width:112px;
	background:#fff;
	padding:5px;
	max-height:120px;
	overflow: hidden;
	border:1px solid #dcdcdc;
	bottom:32px;
	right:0px;
	display:none;
}
.consult-messageList p{
	line-height:20px;
}
.consult-pic{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 6px;
	margin-top:4px;
}
.consult img{
	width: 20px;
	height: 20px;
}
.consult>div a{
	color: #FFFFFF;
}
.consult-message a span{
	color:#F13939;
}
.cancel-none{
	width:120px;
	margin:100px auto 0;
}
.cancel-none p {
	color: #27A9E3;
	position: relative;
	text-align: right;
	font-weight: bold;
	font-style: normal;
}