.password_change{
	margin-top:75px;
	margin-right:160px;
}
.password_change input[type=password]{
	  width:160px;
	  height:25px;
}
.old_password span{
	display:inline-block;
	width:90px;
	text-align:right;
	margin-right:30px;
}
.new_password{
	margin:20px 0;
}
.new_password span:first-child{
	display:inline-block;
	width:90px;
	text-align:right;
	margin-right:30px;
}
.new_password span:last-child{
	display:inline-block;
	margin-left:30px;
	color:#999;
	text-align:right;
	margin-right:30px;
}
.confirm_password span{
	display:inline-block;
	width:90px;
	text-align:right;
	margin-right:30px;
}
.password_change input[type=submit]{
	margin-left:280px;
	width:90px;
	height:30px;
	background:#fff;
	color:#333;
	border:1px solid #dcdcdc;
	outline:none;
	cursor:pointer;
	margin-top:30px;
	text-indent:0;
}
.password_change input[type=submit]:hover{
	background:#29e;
	color:#fff;
	border:1px solid #29e;
}
.error{
	color:#f13a3a;
}