/****************platform1************************/

input[type="button"], input[type="submit"], input[type="reset"] {

	-webkit-appearance: none;

}

textarea {  -webkit-appearance: none;}
.platform{
	width: 100%;
}
.platform .header{
	background: #f04f25;
	position: relative;

}
.plat-title{
	text-align: center;
	padding: 2% 0;
	color: #fff;
	margin: 0 auto;
	width: 95%;

}
.touzhi{
	height: 5.5vh;
	width: 37.3%;
	border: 1px solid #fff;
	font-size: 3vh;

}
.t1{
	background-color: #fff;
	color: #f04f25;
}
.t2 {
	background-color: #f04f25;
	color: #fff;

}
.platform .header img{
	height: 3.2vh;
    position: absolute;
    top: 2.5vh;
    left: 16px;
}
.platform .header-nav{
	width: 100%;
	background: #57a3ef;
	font-size: 0;
}
.platform .header-nav a{
	width: 50%;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 30px;
}
.platform .content1{
	width: 94%;
	overflow: hidden;
	margin: 0 auto;
	height: 15vh;
}
.platform .content1 img{
	height: 50%;
    float: left;
	margin-top: 3vh;
}
.platform .content1 a{
	width: 22.5%;
	height: 5vh;
    color: #f04f25;
    text-align: center;
    display: inline-block;
    float: right;
    margin-top: 5vh;
    border: 1px solid #f04f25;
    border-radius: 50px;
	line-height: 5vh;
}
.platform .content1 p{
	width: 100%;
    font-size: 18px;
    color: #81807f;
    margin-top: 5%;			    
    text-indent: 2em;
    padding-bottom: 8px;
    border-bottom: 1px solid #bcbcbc;
}
.platform{

}
.title{
	font-size: 3vh;
	text-align: center;
	padding: 3vh 0;
	border-bottom: 1px solid #ddd;
}
.platform .content2{
	width: 94%;
	margin: 0 3%;

	
}
.content2 img{
	height: 3.5vh;
	margin-top: 2.5vh;


}
.platform  .tit{
	font-size: 3vh;
	margin-left: 2.1vh;
	position: absolute;
	margin-top: 2.6vh;
	color: #f04f25;
	height: 4.4vh;


}
.pl-bl-c2 img{
	height: 4.4vh;
	margin-left: 3%;
	margin-top: 2vh;

}

/*.platform .content2 p:first-child{
	font-size: 20px;
	font-weight: 700;
	width: 95%;
	margin-left: 5%;
}
.platform .content2 p{
	width: 90%;
	padding: 0px 5%;
	font-size: 12px;
	line-height: 18px;
	text-align: justify;
	margin-top: 2%;
	color: #3d3d3d;
}*/
.platform .content2 .titcont{
	width: 90%;
    padding: 0px 5%;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    margin-top: 2%;
    color: #3d3d3d;
}
.content3{
	width: 100%;
	border-top:16px solid #f0f2f5;
}
.content3 img{
	height: 3vh;
	margin-left: 3%;
	margin-top: 2.8vh;


}
.platform .content3 table{
	width: 94%;
	margin: 3% 3% 6% 3%;
}
.platform .content3 td{
	border: 1px solid #ddd;
	padding: 1.6% 0 1.6% 5%;
	color: #333;
}
.td1{
	background-color: #f9f9f9;
}

.platform .content4{
	width: 100%;
	margin-bottom: 4%;
	border-top:16px solid #f0f2f5;
	border-bottom:16px solid #f0f2f5;
	overflow: hidden;
}
.content4 ul{
	width: 97%;
	margin: 0 auto;
}
.content4 ul li{
	float: left;
	margin: 3% 1.5%;
	border: 1px solid #ddd;
	width: 30%;
	height: 17vh;
	text-align: center;

}
.content4 ul li img{
	max-height: 100%;
	max-width: 100%;
}
#bigimg{

}
.bigimg{
	margin: auto;
	position:fixed;
	max-width: 100%;
	max-height:100%;
	top:0;left: 0;right: 0;bottom: 0;
}
.zhengzhao{
	height: 3vh;
	margin-left: 3%;
	margin-top: 2.8vh;
}
.platform .content4 .plat-img1{
	width: 30%;
	margin-left: 5%;
	margin-top: 5%;
}
.platform .content4 .plat-img2{
	width: 16%;
	margin-left: 5%;
	margin-top: 5%;
}
.platform  .content5{
	width: 94%;
	margin: 0 auto;
}
.platform  .content5 .cont5-tit{
	font-size: 2.5vh;
	margin-left: 1.5vh;
	position: absolute;
	margin-top: 2.3vh;
	height: 4.4vh;


}
.content5 img{
	height: 3vh;
	margin-top: 2vh;

}
.platform  .content5 .cont5-con{
	line-height: 4vh;
	text-align: justify;
	margin-top: 2%;
	color: #666;
	padding-bottom: 3vh;
}
.foot{
	width: 100%;
	padding: 1.5% 0;
	background: #f0f2f5;
			
}
.foot a{

	width: 94%;
	display: inline-block;
	font-size: 3vh;
	color: #fff;
	margin-left: 3%;
	background: #f04f25;
	text-align: center;
	height: 5.5vh;
	line-height: 5.5vh;
	border-radius: 5px;
	
	/*box-shadow: 4px 0 7px #6d6868, /*右边阴影 */ /*0 6px 6px #7A7A7A;*/
}

.active{
	background: #87baf0;
}
.platform .content1 .native{
	color: #9d95b9;
	border: 1px solid #9d95b9;
	margin-right: 4.5%;
}
/****************platform1************************/

/****************platform-blanks************************/

.platfrom-blanks {
	width: 100%;
}
.pl-bl-t{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	height: 6.6vh;
	line-height: 6.6vh;
}
.pl-bl-t  a{
	float: left;
	width: 33%;
	text-align:center ;
	margin:1.8vh 0;
	line-height: 3vh;
	font-size: 2.5vh;
	color: #484848;

}
.pl-bl-t-a{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.platfrom-blanks .pl-bl-c{
	width: 100%;
	border-top: 16px solid #f0f2f5;
	
}
.platfrom-blanks .pl-bl-c .hc{
	margin-left: 16px;
    line-height: 9vh;
    font-size: 2.6vh;
	height: 9vh;
	border-bottom: 1px solid #ddd;
}
.platfrom-blanks .pl-bl-c .hc input{

	border: 0px;
	text-align: center;
	outline: none;
	background-color: #FFF;
	overflow-x:visible;overflow-y:visible;
}
.platfrom-blanks .pl-bl-c .tc input{
	width: 20%;
	border: 0px;
	border-bottom:1px solid #000000 ;
	text-align: center;
	color: #FF0000;
	background: #f6f6f6;
	outline: none;
}
.platfrom-blanks .pl-bl-c .p-right{
	text-align: left;
    margin-left: 54%;
    margin-top: 3%;
    font-size: 18px;
    width: 43%;
}
.platfrom-blanks .pl-bl-c2{
	width: 100%;
	margin-top: 3%;
	border-top:16px solid #f0f2f5;
}
.platfrom-blanks .pl-bl-c2 p:first-child{
    font-size: 18px;
    color: #000000;
    font-weight: 700;
}
.platfrom-blanks .pl-bl-c2 p{
	width: 94%;
	margin: 2% auto ;
    font-size: 2.5vh;
    color: #666;
}
/*.platfrom-blanks .pl-bl-c2 .con{
	width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    font-size: 12px;
    color: #3d3d3d;
    line-height: 16px;
}*/
.platfrom-blanks .win{
	width: 100%;
	border-top: 16px solid #f0f2f5;
	border-bottom: 16px solid #f0f2f5;
}



/****************platform-blanks************************/
/****************jpform-blanks************************/

.jpform{
	width: 100%;
}
.jpform .header{
	width: 100%;
	background: #ED4E24;
	position: relative;
}
.jpform .plat-title{
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size:22px ;
}
.jpform .header img{
	width: 7%;
    position: absolute;
    top: 12px;
    left: 10px;
}
.jpform .jpform-nav{
	width: 100%;
	background: #ED4E24;
	padding: 3% 0;
	font-size: 0;
}
.jpform .jpform-nav a{
	width: 25%;
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	background: #ED4E24;
	text-align: center;				
}
.jpform-con{
	padding-bottom:18% ;
	background-color: #f4f5fa;
	padding-top: 16px;
}
 .data-list{
	width: 94%;
	background: #fff;
	 margin: auto;
}
 .data-list .data-title{
	width: 90%;
	padding:3% 5% 6% 3%;
	overflow: hidden;
	
}
 .data-title img{
	width: 15%;
	float: left;
}
 .data-title span{
	float: left;
    margin-top: 1%;
    font-size: 13px;
    margin-left: 5px;
    color: #959595;
}
.data-list{
	margin-bottom: 1px;
}
 .data-title a{
	width: 13%;
    color: #FFFFFF;
    background: #9d95b9;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 3px;
    float: right;
	 margin-right: -5%;
}
.data-list ul{
	font-size: 0px;
	padding-bottom: 5% ;
}
.data-list ul li{
	width: 44.4%;
	display: inline-block;

	font-size: 2vh;
	margin-left: 4%;

}
.data-list ul li p{
	
	margin-bottom: 3%;
	color:#afafaf;
}
.data-list ul .con-red{
	border-right: 1px solid #e6e6e6;
}
.data-list ul .con-red .rt{
	font-size: 2vh;
	color: #f68141;
	margin-bottom: 5%;
}
.data-list .con-p p{
	white-space: nowrap;
	text-align: left;
	font-size: 2.2vh;
	color: #959595;
}
.con-input{
	float: right;
	margin-top: -30%;
	width: 30%;
	border-radius: 50%;
	background-color: #f68141;
	color: #fff;
	font-size: 2.6vh;
	box-shadow: 1px 2px 2px #BEBEBE;
	border:none;
	padding: 0;
}
.jpform-foot{
	width: 100%;
	position: fixed;
	bottom: 0;
	background:#ffffff ;
	border-top:1px solid #a8a8a8 ;
	padding-top: 3%;
}
.jpform-foot ul{
	font-size: 0;
	padding-bottom: 2%;
	
}
.jpform-foot li{
	display: inline-block;
	width: 33.3%;
	font-size: 13px;
	text-align: center;
}
.jpform-foot li img{
	width: 20%;
	
	
	
	
	
}
.hc select{
	font-size: 3vh;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding-right: 20px;
	background: url("//static.tianyantou.com/images/mobile/arrow.png") no-repeat scroll right center transparent;
	text-align: center;
	outline: none;
	border: 1px solid #ddd;
	background-size: 3vh;
	height: 5vh;
	width: 21%;
	border-radius: 2px;
	color: #484848;


}
/****************jpform-blanks************************/


/****************index************************/

.header-sec{
	width: 100%;
	padding:3% 0;
}
.header-sec ul{
	font-size: 0;
}
.header-sec ul li{
	width: 25%;
	text-align: center;
	display: inline-block;
}
.header-sec ul img{
	width: 50%;
}
.header-sec ul .last-img{
	width: 84%;
}
.header-sec ul p{
	color: #333;
	font-size: 2.1vh;
	margin-top: 6%;
	line-height: 2.4vh;
}
.swiper-slide img{
	width: 100%;
	
}
.jpform-foot a{
	color: #3D3D3D;
}
body{
	font-family: "微软雅黑";
	color: #484848;
}
.jpform-foot li div{
	display: inline-block;
	width: 20px;
	height: 20px;
	
}
.jpform-foot li .nmactive{
	background:#000;
}
.jpform-foot li img{
	width: 20px;
	height: 20px;
}



/***********************submit****************************/
.submit-btn{
	width: 50%;
    display: inline-block;
    background: #FF0000;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    border-radius: 8px;
    text-align: center;
    margin-left: 25%;
    margin-top: 12%;
}
.submit-img{
	width: 100%;  
    position: fixed;
    bottom: 0;
}
.submit{
	width: 94%;
	padding: 0 3%;
}
.submit .submit-p1{
    width: 46%;
	font-size: 16px;
	color: #000000;
	border-bottom: 4px solid #FF0000;
	padding: 2%;
	margin-top: 5%;
}
.submit .submit-p2{
	width: 94%;
    padding: 7% 3% 3% 1%;
    text-align: justify;
    font-size: 16px;
    color: #e93323;
    line-height: 20px;
    font-weight: 600;			  
    border-top: 2px solid #e6e6e6;
	border-bottom: 2px solid #b6b3b3;
}
.submit ul{
	margin-top: 8%;
}
.submit li{
	width: 90%;
	margin-left:5% ;
	margin-top: 3%;
	overflow: hidden;
}
.submit li p{
	width: 33%;
	float: left;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}
.submit li input{
	width: 60%;
	float: left;
	font-size: 12px;
	line-height: 20px;
	border-radius: 5px;
	border: 1px solid #7A7A7A;
	text-indent: 5px;
	outline: none;
}



.login{
	width: 100%;
}
.login .header{
	width: 100%;
	background:#38abf8 ;
	position: relative;
}
.login .header img{
	width: 8%;
    position: absolute;
    left: 2%;
    top: 25%;
}
.login .header p{
	font-size: 18px;
	font-family: "微软雅黑";
}
.login .log{
	width: 100%;
}

.login .cont1 div{
	width: 96%;
    margin-left: 2%;
    margin-top: 5%;
    border-bottom: 2px solid #dad5d5;
    padding-bottom: 4%;
    position: relative;
}
.login .cont1 div img{
	width: 10%;
    position: absolute;
    right: 2%;
    top: 4px;
}
.login .cont1 input{
	width: 100%;
    
    line-height: 30px;
    outline: none;	
    font-size: 18px;	
    text-indent: 5px;	
    border: 0px;    
}
.login .cont1  .sub-btn{
	width: 96%;
    margin-left: 2%;
    margin-top: 10%;
	display: inline-block;
	line-height: 36px;
	height: 36px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	background: #2577e3;
	border-radius: 10px;
}
.login .cont1 p{
	width: 96%;
	margin-top: 3%;
	text-align: right;
	color: #228fec;
}
.login .cont1 p a{
	color: #228fec;
}




.find-pass{
	width: 100%;
}
.find-pass .header{
	width: 100%;
	background:#2577e3;
	position: relative;
}
.find-pass .header img{
	width: 8%;
    position: absolute;
    left: 2%;
    top: 25%;
}
.find-pass .header p{
	font-size: 18px;
	font-family: "微软雅黑";
}
.find-pass  li{
	position: relative;
	width: 96%;
    margin-left: 2%;
    margin-top: 5%;
    border-bottom: 2px solid #dad5d5;
    padding-bottom: 4%;
    height: 30px;
	
}
.find-pass  li p{
	width: 30%;
	text-align: left;
	font-size: 18px;
	color: #3D3D3D;
	position: absolute;
	top: 4px;
	left: 0%;
}
.find-pass  li input{
	width: 70%;
    line-height: 26px;
    outline: none;
    font-size: 16px;
    text-indent: 5px;
    border: 0px;
    position: absolute;
    top: 0px;
    left: 27%;
}
.find-pass  li  a{
	position: absolute;
    top: 5px;
    right: 2%;
    font-size: 16px;
}
.find-pass .sub-btn{
	width: 96%;
    margin-left: 2%;
    margin-top: 10%;
	display: inline-block;
	line-height: 36px;
	height: 36px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	background: #2577e3;
	border-radius: 10px;
}
	
	
	
	
.zhuce{
	width: 100%;
}
.zhuce .header img{
	width: 6%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}
.zhuce .header p{
	width: 50%;
    float: right;
    text-align: right;
    margin-top: 6%;
    margin-right: 5%;
    color: #6fb3e3;
}
.zhuce .zhuceimg{
	width: 100%;
	margin-top: 5%;
}
.zhuce .sub-btn{
	width: 83%;
	margin: 7% 8.5% 7% 8.5%;
	display: inline-block;
	line-height: 8vh;
	height: 8vh;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background: #f04f25;
	border-radius: 50px;
	border: 0;
}
.zhuce li{
	position: relative;
    margin-top: 5%;
    border-bottom: 2px solid #dad5d5;
    padding-bottom: 4%;
    height: 3.4vh;

}.zhuce li img{
	 height: 3.3vh;
	 margin-left: 3%;

 }
.zhuce  li p{
	width: 30%;
	text-align: left;
	font-size: 2.5vh;
	color: #3D3D3D;
	position: absolute;
	top: 0.3vh;
	left: 9%;

}
.zhuce  li input{
	width: 70%;
    line-height: 3.5vh;
    height: 3.5vh;
    outline: none;
	font-size: 2.5vh;
    text-indent: 5px;
    border: 0px;
    position: absolute;
    top: 0px;
    left: 30%;
}
.zhuce .dongtai{
	width: 50%;
    line-height: 3.5vh;
    height: 3.5vh;
    outline: none;
	font-size: 2.5vh;
    text-indent: 5px;
    border: 0px;
    position: absolute;
    top: -1px;
    left: 27%;
}
.zhuce li a{
	display: inline-block;
    width: 20%;
    line-height: 5.8vh;
    height: 5.8vh;
    text-align: center;
    font-size: 2.2vh;
    color: #FFFFFF;
    background: #fdad2a;
    position: absolute;
    top: -1.2vh;
    right: 5%;
	border-radius: 3px;
}
.zhuce .explain{
	background: #f4f5fa;
	overflow: hidden;
	padding-top: 2vh;
}
.zhuce .explain div{
	float: left;				
	width: 2.5vh;
    height: 2.5vh;
    background: url(/images/mobile/rdios.png);
    background-size: 100% 100%;
	margin-left: 3%;
}
.zhuce .explain p{
	width: 92%;
	float: left;
	font-size:2vh ;
	text-align: justify;
	margin-left: 4px;
	
}
.zhuce .explain span{
	color: #6fb3e3;
}	
.zhuce  .zhuce22img{
	width: 10%;
    position: absolute;
    top: 5%;
    right: 3%;
}
.invitataion{
	width: 100%;
}
.invitataion .header{
	width: 100%;
	background: #31a1f5;
	color: #FFFFFF;
	padding: 15% 0 10% 0;
	text-align: center;
}
.invitataion .header .p1{
	font-size: 16px;
}
.invitataion .header .p2{
	font-size: 30px;
	margin-top: 3%;
	font-weight: 700;
}
.invitataion .header2{
	width: 100%;
	overflow: hidden;
}
.invitataion .header2 li{
	width: 50%;
	float: left;
	background: #228fec;
	padding: 5% 0;
	text-align: center;
	color: #FFFFFF;
	
}
.invitataion .header2 .p1{
	font-size: 22px;
}
.invitataion .header2 .p2{
	font-size: 16px;
	margin-top: 2%;
}
.invitataion .ph{
	width: 100%;
	text-indent: 5%;
	font-size: 16px;
	color: #3D3D3D;
	padding: 5% 0 5% 0;
	border-bottom: 1px solid #e9d9d9;
}
.invitataion table{
	width: 90%;
	margin-left: 5%;
	border: 1px solid #e4dcdc;
	border-radius: 10px;
	margin-top: 5%;
}
.invitataion table th{
	width: 50%;
	background: #ff6a00;
	color: #FFFFFF;
	text-align: center;
	padding: 4%;
}
.invitataion table td{
	width: 50%;
	color: #000;
	text-align: center;
	padding: 4%;
	border-bottom: 1px solid #e4dcdc;
}
.invitataion table td span{
	color:#ff6a00;
	
}
.invitataion .init-img{
	width: 100%;
	margin-top: 3%;
}



.youhui .header{
	width: 100%;
	background:#38abf8 ;
	position: relative;
}
.youhui .header img{
	width: 8%;
    position: absolute;
    left: 2%;
    top: 25%;
}
.youhui .header p{
	font-size: 18px;
	font-family: "微软雅黑";
}
.youhui ul  li{
	width: 90%;
	margin-left: 5%;
	margin-top: 4%;
	border-left: 4px solid #FF0000;
	overflow: hidden;
	border-radius: 5px;
	background: #FFFFFF;
}
.youhui ul .cont1{
	width: 70%;
	float: left;
}
.youhui ul .cont2{
	width: 30%;
	float: left;
	text-align: right;
}
.youhui .cont1 .p1{
	font-size: 22px;
	color: #ff5462;
	margin-top: 5%;
	margin-left: 4%;
}
.youhui .cont1 .p2{
	font-size: 16px;
	color: #ff5462;
	margin-top: 4%;
	margin-left: 2%;
}
.youhui .cont1 .p3{
	font-size: 12px;
	color: #777777;
	margin-top: 8%;
	margin-left: 4%;
	margin-bottom: 5%;
}
.youhui .cont2 .p1{
	font-size: 22px;
	color: #ff5462;
	margin-top: 10%;
	margin-right: 4%;
	
}
.youhui .cont2 .p2{
	font-size: 12px;
	color: #777777;
	margin-top: 35%;
	margin-right: 4%;
}
.youhui .cont2 .p3{
	font-size: 12px;
	color: #777777;
	margin-top: 2%;
	margin-right: 4%;
	margin-bottom: 5%;
}
.youhuibody{
	background: #f1f1f1;
}



.jilu{
	width: 100%;
}
.jilu .header{
	width: 100%;
	background:#38abf8 ;
	position: relative;
}
.jilu .header img{
	width: 8%;
    position: absolute;
    left: 2%;
    top: 25%;
}
.jilu .header p{
	font-size: 18px;
	font-family: "微软雅黑";
}
.jilu .na1{
	width: 100%;
	overflow: hidden;
	background: #FFFFFF;
}
.jilu .na1 a{
	display: inline-block;
	padding: 9px 0;
	
	color: #ee7b16;
}
.jilu .na1 li{
	width: 33%;
	float: left;
	text-align: center;
	padding: 2% 0;
	
}
.jilu .na1 .activenn{
	border-bottom: 2px solid #ee7b16;
}
.jilu .cont1 {
	background: #FFFFFF;
	margin-top: 3%;
	
}
.jilu .cont1 .p1{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #e8e5e5;
	padding: 2% 0;
}
.jilu .cont1 .p1 img{
	float: left;
	margin-left: 3%;
	width: 20%;
}
.jilu .cont1 .p1 span{
	display: inline-block;
    float: right;
    color: #8d8d8d;
    margin-top: 2%;
    margin-right: 3%;
}
.jilu .cont1 .p2{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #e8e5e5;
	padding: 2% 0;
	color: #8d8d8d;
}
.jilu .cont1 .p2 .p2-c1{
	width: 50%;
	float: left;
	text-align: left;
	font-size: 14px;
}
.jilu .cont1 .p2 .p2-c1 p{
	margin-left: 7%;
	margin-top: 4%;
}
.jilu .cont1 .p2 .p2-c2{
	width: 50%;
	float: left;
	text-align: center;
	font-size: 14px;
}
.jilu .cont1 .p2 .p2-c2 .tit{
	font-size: 22px;
	font-weight: 700;
	color: #000000;
	margin-top: 6%;
}
.jilu .cont1 .p2 .p2-c2 p{
	margin-top: 3%;
}
.jilu .cont1 .p3{
	width: 100%;
	overflow: hidden;				
	padding: 2% 0;
	color: #8d8d8d;
}
.jilu .cont1 .p3 span:first-child{
	display: inline-block;
	float: left;
	font-size: 12px;
	margin-left: 2%;
}
.jilu .cont1 .p3 span:last-child{
	display: inline-block;
	float: right;
	font-size: 12px;
	margin-right: 2%;
}
.jilu-body{
	background: #f4f4f7;
}


.tuijianbody{
	background:#E4DCDC ;
	font-family: "微软雅黑";
}
.tuijian .header{
	width: 100%;
	background:#38abf8 ;
	position: relative;
}
.tuijian .header img{
	width: 8%;
    position: absolute;
    left: 2%;
    top: 25%;
}
.tuijian .header p{
	font-size: 18px;
	font-family: "微软雅黑";
}
.tuijian .c1{
	text-align: center;
	padding: 5% 0;
	border-bottom: 1px solid #E4DCDC;
	background: #FFFFFF;
}
.tuijian .c1 img{
	width: 50%;
}
.tuijian .c2{
	background: #FFFFFF;
	padding: 0  0 5% 0;
}
.tuijian .c2 img{
	width: 20%;
	margin-left: 3.5%;
	margin-top: 2%;
}
.tuijian .c2 p{
	padding: 3% 0;
	margin-left: 3%;
	color: #919191;
}
.tuijian .c3{
	background: #FFFFFF;
	margin-top: 3%;
}
.tuijian .c3 p{
	overflow: hidden;
	border-top: 1px solid #E4DCDC;
	padding: 4% 0;
	font-size: 16px;
}
.tuijian .c3 p span:first-child{
	float: left;
	margin-left: 3%;
}
.tuijian .c3 p span:last-child{
	float: right;
	margin-right: 3%;
}





.touzi{
	width: 100%;
	font-family: "微软雅黑";
}
.touzi .header{
	width: 100%;
	background: #31a1f5;
	color: #FFFFFF;
	padding: 15% 0 10% 0;
	text-align: center;
}
.touzi .header .p1{
	font-size: 16px;
}
.touzi .header .p2{
	font-size: 30px;
	margin-top: 3%;
	font-weight: 700;
}
.touzi .header2{
	width: 100%;
	overflow: hidden;
}
.touzi .header2 li{
	width: 50%;
	float: left;
	background: #228fec;
	padding: 5% 0;
	text-align: center;
	color: #FFFFFF;
	
}
.touzi .header2 .p1{
	font-size: 22px;
}
.touzi .header2 .p2{
	font-size: 16px;
	margin-top: 2%;
}
.touzi  .first{
	width: 100%;
	overflow: hidden;
	background: #31a1f5;
	font-size: 12px;
	color: #FFFFFF;
	padding: 3% 0;
}
.touzi  .first .p1{
	width: 80%;
	float: left;
	overflow: hidden;
}
.touzi  .first .p2{
	width: 20%;
	float: right;
	overflow: hidden;
}
.touzi  .first .p1 span{
	float: left;
	margin-top: 4%;
	margin-left: 2%;
}
.touzi  .first .p1 img{
	width: 15%;
	float: left;
	margin-left: 2%;
}
.touzi  .first .p2 img{
	width: 47%;
	float: right;
}
.touzi .content{
	width: 100%;
	overflow: hidden;
	background: #FFFFFF;
}
.touzi .content .llot{
	width: 50%;
	float: left;
	overflow: hidden;
	padding: 5% 0;
}
.touzi .content .llot img{
	width: 15%;
	float: left;
	margin-left: 5%;
}
.touzi .content .llot div{
	width: 75%;
	float: left;
	margin-left: 5%;
}
.touzi .content .llot div .p1{
	font-size: 18px;
	color: #000000;
}
.touzi .content .llot div .p2{
	font-size: 14px;
    color: #c5c5c5;
    margin-top: 8%;
}
.touzi .foot-cont{
	width: 100%;
	margin-top: 5%;
	background: #FFFFFF;
	margin-bottom: 25%;
}
.touzi .foot-cont li{
	overflow: hidden;
	color: #d7d6d6;
	font-size: 18px;
	margin-top: 3%;
	color: #221e1f;
}
.touzi .foot-cont li span{
	float: left;
    margin-top: 3%;
    margin-left: 3%;
	
}
.touzi .foot-cont li img:first-child{
	float: left;
	width: 10%;
	margin-left: 3%;
}
.touzi .foot-cont li img:last-child{
	float: right;
    width: 4%;
    margin-right: 3%;
    margin-top: 1%;
}




.tixian{
	background: #f4f4f4;
	overflow: hidden;
}
.tixian .header{
	width: 100%;
	background:#38abf8 ;
	position: relative;
	
}
.tixian .header img{
	width: 8%;
    position: absolute;
    left: 2%;
    top: 25%;
}
.tixian .header p{
	font-size: 18px;
	font-family: "微软雅黑";
}
.tixian .content{
	width: 100%;
	background: #FFFFFF;
}
.tixian .content .first{
	width: 100%;
	overflow: hidden;
	padding: 3% 0;
	background: #FFFFFF;
}
.tixian .content .first div{
	width: 70%;
	float: left;
}
.tixian .content .first div p{
	margin-top: 3%;
	margin-left: 5%;
}
.tixian .content .first img:first-child{
	width: 20%;
	float: left;
	margin-left: 3%;			}
.tixian .content .first img:last-child{
	width: 4%;
	margin-top: 5%;
	margin-right: 3%;
	float: right;
}
.tixian .sec-cont{
	width: 100%;
	padding: 3% 0;
	overflow: hidden;
	border-top: 1px solid #D2D2D2;
	border-bottom:  1px solid #D2D2D2;
	background: #FFFFFF;
}
.tixian .sec-cont  span:first-child{
	float: left;
	margin-left: 3%;
}
.tixian .sec-cont  span:last-child{
	float: right;
	margin-right: 3%;
}
.tixian .tixian-tishi{
	float: right;
	margin-right: 3%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.tixian .content-2{
	width: 100%;
	background: #FFFFFF;
	overflow: hidden;
}
.tixian .content-2 li{
	overflow: hidden;
	padding: 4% 0;
	border-top: 1px solid #D2D2D2;
	
}
.tixian .content-2 li:last-child{
	border-bottom:  1px solid #D2D2D2;
}
.tixian .content-2 li span{
	width: 20%;
	float: left;
	margin-left: 3%;
}
.tixian .content-2 li input{
	width: 60%;
	float: left;
	border: 0;
	outline: none;
	margin-left: 3%;
	
}
.tixian .content-3{
	width: 100%;
	background: #FFFFFF;
	overflow: hidden;
}
.tixian .content-3 li{
	overflow: hidden;
	padding: 4% 0;
	border-top: 1px solid #D2D2D2;
	
}
.tixian .content-3 li:last-child{
	border-bottom:  1px solid #D2D2D2;
}
.tixian .content-3 li span{
	width: 20%;
	float: left;
	margin-left: 3%;
}
.tixian .content-3 li input{
	width: 60%;
	float: left;
	border: 0;
	outline: none;
	margin-left: 3%;
	
}
.tixian .famacbb{
	padding: 5% 0;
	color: #b9b9b9;
	font-size: 14px;
	margin-left: 3%;
}
.tixian .sub-btn{
	width: 96%;
    margin-left: 2%;			    
	display: inline-block;
	line-height: 36px;
	height: 36px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	background: #2577e3;
	border-radius: 10px;
}
.tixian .foot-cont{
	width: 100%;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 3%;
}
.tixian .foot-cont  img{
	width: 60%;
}