.top-banner {
  position: relative;
  height: 475px;
  background: url(../images/top-banner-new.jpg) no-repeat center center;
}

.top-banner .container {
  position: relative;
  height: 475px;
}

.top-banner .rate {
  position: absolute;
  top: 267px;
  left: 155px;
  text-align: center;
}

.rate {
  font: 24px/1 "微软雅黑";
  color: #FFF;
}
.rate div{
  position: absolute;
  width: 430px;
  top: 42px;
  left: -5px;
  text-align: left;
  font-family: arial;
}
.rate .last_rate {
  font-size: 36px;
  color: #FF0;
}
.rate .last_rate em {
  font-size: 44px;
}
.rate i{
  font-size: 48px;
  color: #FF0;
  margin: 0 10px;
}
.rate .jiaxi{
  display: inline-block;
  background: url(../images/jiaxi_bg.png) no-repeat left top;
  width: 104px;
  height: 115px;
  line-height: 180px;
  font-size: 24px;
  color: #FF0;
  text-align: center;
}
.rate .jiaxi em{
  font-size: 36px;
}
.rate .text{
  position: absolute;
  top: -31px;
  left: 173px;
  font: 16px/1.75 "微软雅黑";
}
.rate .text span{
  font-weight: bold;
  font-size: 20px;
  color: #FF0;
}
.invest-box {
  position: absolute;
  top: 5%;
  right: 30px;
  width: 300px;
  background-color: #E6F8F6;
  padding: 20px 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.invest-box .login-area{
  text-align: center;
  margin: 20px auto 40px;
}
.invest-box .login-area h3{
  font-size: 24px;
  color: #646567;
}
.invest-box .login-area .money{
  font-family: arial;
  font-size: 48px;
  color: #FA8128;
  line-height: 2.5;
}
.invest-box .login-area .btn{
  margin-bottom: 10px;
}
.invest-box .login-area .register{
  color: #2AA3CE;
  margin-left: 5px;
}
.invest-box #availableShare{
  font-family: arial;
  font-size: 24px;
}
.invest-box ul li {
  position: relative;
  line-height: 45px;
  color: #999;
}
.invest-box ul li span {
  color: #646567;
}

.invest-box .raise-amount,
.invest-box .recharge {
  float: right;
  color: #2AA3CE;
  text-decoration: underline;
}
.invest-box .icon-new{
  position: absolute;
  top: 0;
  right: -20px;
  display: block;
  width: 20px;
  height: 23px;
  background: url(../images/ico_new.png) no-repeat 110% 0;
}
.invest-box ul li label {
  position: absolute;
  top: 2px;
  left: 170px;
}

.invest-box .input-style {
  vertical-align: middle;
  width: 80px;
  height: 33px;
  line-height: 33px;
  background-color: #FFF;
  border-radius: 0;
  margin-right: 3px;
  padding-right: 40px;
}

.invest-box #dealpass {
  width: 110px;
  padding-right: 10px;
}

.invest-box .forget-pass {
  font-size: 12px;
  margin-left: 5px;
}

.invest-box .iconfont {
  font-size: 14px;
  color: #2AA3CE;
  margin-left: 3px;
  cursor: pointer;
}

.invest-box .pass-tip {
  position: absolute;
  z-index: 2;
  top: 40px;
  right: -25px;
  width: 120px;
  font-size: 12px;
  color: #646567;
  line-height: 1.2;
  background-color: #FFF;
  padding: 5px 10px;
  border: 1px solid #2AA3CE;
  filter: alpha(opacity=90 finishopacity=90 style=1 startx=0, starty=0, finishx=0, finishy=150) progid: DXImageTransform.Microsoft.gradient(startcolorstr=#FFFFFF, endcolorstr=#FFFFFF, gradientType=0);
  -ms-filter: alpha(opacity=90 finishopacity=90 style=1 startx=0, starty=0, finishx=0, finishy=150) progid: DXImageTransform.Microsoft.gradient(startcolorstr=#FFFFFF, endcolorstr=#FFFFFF, gradientType=0);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: none;
}

.invest-box .btn-green {
  vertical-align: middle;
  width: 90px;
  height: 33px;
  line-height: 33px;
  border-radius: 0;
  margin-left: 3px;
}

.invest-box .spare {
  padding-left: 70px;
}

.invest-box .spare.hidden {
  display: none;
}

.invest-box .spare,
.invest-box .spare span {
  color: #FE3000;
}

.invest-box .exclusive-credits {
  line-height: 1.75;
  margin-top: 5px;
}

.invest-box .exclusive-credits p {
  font-size: 12px;
}

.invest-box .exclusive-credits p span {
  color: red;
}

.invest-box .btns {
  margin-bottom: 10px;
}

.invest-box .btn-blue,
.btn-invalid {
  width: 190px;
  line-height: 46px;
  font-size: 18px;
  margin-top: 10px;
}

.invest-box .getout {
  margin-left: 15px;
  color: #2AA3CE;
}

.invest-box .iconcheck {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: #FFF url(//static.touzhijia.com/images/icon/icon-check.png) no-repeat left center;
  margin-right: 5px;
  cursor: pointer;
}

.invest-box .huoqi-protocol {
  color: #2AA3CE;
}

.invest-box .getout:hover,
.invest-box .huoqi-protocol:hover {
  text-decoration: underline;
}

.feature {
  overflow: hidden;
  padding: 60px 0 75px;
  margin-left: -12px;
}

.feature .feature-box {
  float: left;
  width: 225px;
  height: 310px;
  background-color: #FFF;
  padding: 30px 25px;
  margin-left: 25px;
  text-align: center;
}
.feature .feature-box .btn{
  color: #2AA3CE;
  line-height: 2;
}
.feature-box .icon-feature {
  display: block;
  width: 131px;
  height: 150px;
  margin: 0 auto 25px;
  background: url(../images/icon-feature.png) no-repeat;
}

.transitionSlow {
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.transition {
  -webkit-transition: .8s linear;
  -moz-transition: .8s linear;
  -ms-transition: .8s linear;
  -o-transition: .8s linear;
  transition: .8s linear;
}

.feature-box.shadowOn {
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.1);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,.1);
  -ms-box-shadow: 0 10px 20px rgba(0,0,0,.1);
  -o-box-shadow: 0 10px 20px rgba(0,0,0,.1);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-2%);
  -ms-transform: translateY(-2%);
  -o-transform: translateY(-2%);
  transform: translateY(-2%);
}
/*
.feature-box.shadowOff {
  -webkit-box-shadow: 0 1px 5px 1px transparent inset;
  -moz-box-shadow: 0 1px 5px 1px transparent inset;
  -ms-box-shadow: 0 1px 5px 1px transparent inset;
  -o-box-shadow: 0 1px 5px 1px transparent inset;
  box-shadow: 0 1px 5px 1px transparent inset;
}

.feature-box.rotateOn .icon-feature {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}*/

.icon-feature.feature1 {
  background-position: 0 0;
}

.icon-feature.feature2 {
  background-position: -140px 0;
}

.icon-feature.feature3 {
  background-position: -280px 0;
}

.icon-feature.feature4 {
  background-position: -420px 0;
}

.feature-box h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-box p {
  text-align: left;
  max-height: 96px;
  overflow: hidden;
}

.content .container {
  overflow: hidden;
  padding-top: 30px;
}
.product,
.question{
  box-sizing: border-box;
  float: left;
}
.product h3,
.question h3 {
  font: bold 24px/2 "微软雅黑";
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 0;
  text-align: left;
}
.product {
  width: 67%;
  background: url(..images/bg-product.png) no-repeat right bottom;
  background-size: 35%;
  border-right: 1px solid #F1F1F1;
  margin-right: 3%;
  margin-bottom: 20px;
}
.product li {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  overflow: hidden;
}
.product li > span {
  float: left;
  width: 80px;
  color: #646578;
  font-weight: bold;
  text-align: left;
}
.product li > P{
  float: left;
  width: 82%;
}
.product .raise-amount{
  float: left;
}
.product .raise-amount p{
  overflow: hidden;
}
.product .raise-amount .text{
  width: 670px;
}
.product .raise-amount .text-title{
  width: 135px;
}
.product .raise-amount .raise-amount-table{
  width: 662px;
  margin: 0 0 20px 0;
  margin-top: 10px;
}
.question {
  width: 30%;
  padding-bottom: 30px;
}
.question dt {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}
.question dt:hover{
  color: #2AA3CE;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.question dd {
  margin-bottom: 20px;
  line-height: 24px;
  display: none;
}
.question .show {
  display: block;
}
.raise-amount .item{
  float: left;
}
.raise-amount .text{
  float: left;
  width: 800px;
}
.raise-amount-table {
  width: 793px;
  border: 1px solid #E2E2E2;
  border-collapse: collapse;
  margin: 0 0 20px 23px;
  text-align: center;
}
.raise-amount-table td{
  border: 1px solid #E2E2E2;
  height: 56px;
}
.raise-amount-table .text-title{
  width: 190px;
  font-weight: bold;
}
.layui-layer-content div{
  margin: 25px auto 0;
  text-align: center;
}
.layui-layer-content h3{
  font-size: 24px;
  font-weight: normal;
  height: 60px;
  line-height: 60px;
}
.layui-layer-content h3 i{
  display: inline-block;
  width: 40px;
  height: 60px;
  font-size: 28px;
  color: #2AA3CE;
  vertical-align: middle;
  text-align: center;
}
.layui-layer-content .raise-amount{
  font-size: 14px;
  padding: 0 50px;
}
.layui-layer-content .raise-amount p{
  overflow: hidden;
  text-align: left;
  margin-bottom: 10px;
}
.layui-layer-content .raise-amount .tips{
  display: block;
  color: #2AA3CE;
  text-align: left;
  margin: 15px 0 0;
}
.layui-layer-content .done h3{
  margin-bottom: 10px;
}
.layui-layer-content .done i{
  font-size: 30px;
  line-height: 52px;
}
.layui-layer-content .done p {
  padding-left: 168px;
  text-align: left;
}
.layui-layer-content .done p.text {
  padding-left: 60px;
  text-align: left;
}
.layui-layer-content .fail h3{
  text-align: left;
  padding-left: 130px;
}
.layui-layer-content .fail p{
  padding-left: 55px;
}
.layui-layer-content .error p {
  padding-left: 20px;
}
.layui-layer-btn .layui-layer-btn0.disabled{
  background-color: #DDD !important;
  color: #646567 !important;
  cursor: default !important;
  border: 1px solid #DDD !important;
}
.layui-layer-btn .layui-layer-btn0.disabled:hover{
  background-color: #DDD !important;
  opacity: 1;
  cursor: default !important;
}
